html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: #E0E0E0;
    background-size: cover;
}

.main-container {
    background-color: #E0E0E0;
    background-size: cover;
    width: 120vw;
    height: 120vh;
    display: flex;
    flex-direction: column;
    margin: -5vh 0 0 -10vw;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #E0E0E0;
    background-size: cover;
}

.menu-top {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3rem;
    background-color: #F8F8F8;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    z-index: 1000;
    display: flex;
    justify-content: center;
}
.menu-side {
    align-self: center;
    position: fixed;
    top: 50%;
    left: 0;
    height: 50%;
    transform: translateY(-50%);
    width: 3rem;
    z-index: 1000;
    background-color: #F8F8F8;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.bible-container {
    width: 40vw;
    width: 28rem;
    height: 80vh;
    max-height: 39rem;
    background-color: #F8F8F8;
    align-self: center;
}

.text-container {
    background-color: aquamarine;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.text {
    background-color: bisque;
    align-self: center;
    width: 80%;
    height: 80%;
    font-size: 0.5em
}

.draggable {
    margin-top: 20rem;
    background-color: blanchedalmond;
}

#scale-element {
    display: block;
    max-width: 100%;
    margin: auto;
    touch-action: none;
  }
  
  #scale-element.reset {
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
  }